body {
  font-family: var(--primary-font), sans-serif;
  color: var(--primary-text);
  margin: 0;
}

button, [type="button"], [type="reset"], [type="submit"] {
  border: 0;
  background: none;
  font-family: inherit;
  text-align: left;
  min-height: 20px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  cursor: pointer;
}

button, select {
  text-transform: none;
  user-select: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}