body {
  font-family: var(--primary-font), sans-serif;
  color: var(--primary-text);
  margin: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

h2 mark {
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  background-color: transparent;
}

p {
  color: #2c2f39;
  line-height: 1.2;
  font-size: 17px;
}

button, [type="button"], [type="reset"], [type="submit"] {
  border: 0;
  background: none;
  font-family: inherit;
  text-align: left;
  min-height: 20px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  cursor: pointer;
}

button, select {
  text-transform: none;
  user-select: none;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}