:root {
  --primary-font: "Montserrat", sans-serif;

  --primary-color: #ff7126;
  --primary-color--hover: #ff894b;
  --secondary-color: #007fdb;

  --primary-text: #e7e7e7;
  --primery-text--hover: rgba(234, 234, 234, 0.75);
}