:root {
  --primary-font: "Montserrat", sans-serif;

  --primary-color: #ff7126;
  --primary-color--hover: #ff894b;
  --secondary-color: #396;
  --secondary-color--hover: #38ba79;

  --grey-color: #f1f4f9;
  --grey-color--hover: #e9edf4;

  --primary-text: #e7e7e7;
  --primery-text--hover: rgba(234, 234, 234, 0.75);
  --secondary-text: #434343;
  --secondary-text--hover: #8d8d8d;
}